# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual env
venv/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data and models
hw4_data/
*.pth
expts/
wandb/
results.csv
model_metadata_*.json

# Sensitive config (optional)
# config/config.yaml
